/* All page */
@font-face {
    font-family: 'Homework';
    src: url('../Font/Homework.ttf');
}

h1, h2, p, span, a, button, input, div, label, textarea {
    font-family: "Homework", serif;
    text-decoration: none;
}

a:visited, a:active, a:visited {
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    min-height: 100vh;
}

#logo {
    margin-left: 2vw;
    height: 4vw;
    transition: 0.5s;
}

#logo:hover {
    transition: 0.4s;
    transform: scale(1.2);
}

.ButtonsUser {
    border: black solid 2px;
    border-radius: 5px;
    margin-left: 10vw;
    padding: 0.5vw 1vh;
    color: #FFFFFF;
    background: #404040;
    text-transform: uppercase;
    transition: 0.1s;
    cursor: pointer;
}

.ButtonsUser:hover {
    color: black;
    background: #FFFFFF;
    border: black solid 2px;
    transform: scale(1.0);
    transition: 0.2s;
}

.designAlerts {
    font-weight : bold;
    cursor : pointer;
    padding-left : 0.8vw;
    margin-left : 0.8vw;
    border-left : 2px solid rgba(255,255,255,0.5);
}

#showSeries {
    width: 100%;
    height: 18vw;
}

#showDCComics {
    margin-top: 6vw;
    margin-left: 35vw;
    height: 4vw;
    width: 9vw;
}

#showNetflix {
    height: 4vw;
    width: 9vw;
}

#navbar {
    height: auto;
    padding: 3vh 3vw;
    display: flex;
    align-items: center;
}

#actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50vw;
    padding-right: 3vw;
}

#actions :nth-child(even) {
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.haveAlerts {
    position: fixed;
    padding: 0;
    z-index: 999;
    left: 50%;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.haveAlerts > div{
    position: relative;
    left: -50%;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    border: solid 2px black;
    border-radius: 5px;
    margin-bottom: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vw;
    background: #FFFFFF;
    color: black;
    font-size: 1.5vw;
}

/* Design Index.html & Principal.html */

.presentation {
    display: flex;
    flex-direction: column;
    background: black;
}

.presentation > div {
    background: #D9D9D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 0;
}

#DCComics {
    display: none;
}

#Netflix {
    display: none;
}

.presentation > div > div {
    width: 38vw;
    height: 38vw;
    margin: 4vw;
    transition: 0.2s;
}

.presentation > div > div > img {
    width: 33vw;
    height: 23vw;
    margin: 3vw;
    align-items: center;
    transition: 0.2s;
}

.presentation > div > div > img:hover {
    transform: scale(1.0);
    transition: 0.2s;
}

.presentation > div > div > span {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    font-size: 4vw;
    color: black;
    width: 40vw;
    text-align: center;
}

.presentation > div > div > h2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    margin-left: 10vw;
    font-size: 1.3vw;
    color: black;
    width: 20vw;
    text-align: center;
}

/* index.html */

#sign-up-form-box, #sign-in-form-box {
    display: none;
    background: #FFFFFF;
    align-items: center;
    margin-left: -38vw;
}

#sign-up-form-box > h2, #sign-in-form-box > h2 {
    margin-bottom: 3vw;
}

.logForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logForm > button {
    width: 35vw;
    height: 2.5vw;
    margin-right: 2vw;
    border-radius: 5px;
    color: #FFFFFF;
    background: black;
    transition: 0.1s;
}

.logForm > input {
    height: 1vw;
    width: 27vw;
    padding: 1vw 2vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    background: black;
    color: #FFFFFF;
    border-radius: 5px;
}

.logForm > button:hover {
    transition: 0.2s;
    background: white;
    border: solid #101820 3px;
    color: #101820;
}

/* principal.html */

#description-box-arrow {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#description-box-flash {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#description-box-dark {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#description-box-troispercent {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#titreDescription {
    font-size: 4vw;
    margin-left: 5vw;
}

#Arrow:hover {
    color: #006400;
}

#Flash:hover {
    color: #FF8C00;
}

#Dark:hover {
    color: #F8F8FF;
}

#TroisPerCent:hover {
    color: #8B0000;
}

#imgDescription {
    height: 30vw;
    width: 43vw;
    margin-top: 1vw;
}

.listeEtoile {
    display: none;
}

.listeEtoile ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listeEtoile ul li {
    display:inline-block;
    width: 16px;
    text-align: left;
    list-style-type: none;
}

.listeEtoile ul li img {
    border: 0;
    margin: 0;
    padding: 0;
}

#etoileOff {
    border-width: 0vw;
    display: block;
}

#etoileOn {
    border-width: 0vw;
    display: none;
}

#confirm-box {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
}

#quitter {
    margin-left: 26vw;
    margin-top: 8px;
}

.ButtonsSupprOui {
    border: black solid 2px;
    border-radius: 5px;
    margin-left: 1vw;
    padding: 0.5vw 1vh;
    color: #FFFFFF;
    background: #404040;
    text-transform: uppercase;
    transition: 0.1s;
    cursor: pointer;
}

.ButtonsSupprOui:hover {
    color: black;
    background: #FFFFFF;
    border: black solid 2px;
    transform: scale(1.0);
    transition: 0.2s;
}

.ButtonsSupprNon {
    border: black solid 2px;
    border-radius: 5px;
    margin-left: 1vw;
    padding: 0.5vw 1vh;
    color: #FFFFFF;
    background: #404040;
    text-transform: uppercase;
    transition: 0.1s;
    cursor: pointer;
}

.ButtonsSupprNon:hover {
    color: black;
    background: #FFFFFF;
    border: black solid 2px;
    transform: scale(1.0);
    transition: 0.2s;
}

#choix {
    display: none;
}
/* index.html & principal.html */

#sign-up-form > h2, #sign-in-form > h2, #profile > h2 {
    color: black;
    justify-content: center;
    font-size: 3vw;
    padding: 0;
}

.error {
    background: black;
    color: white;
    border: black solid 2px;

}

.info {
    background: #101820;
    color: white;
}

.success {
    background: #FFFFFF;
    color: black;
    border: #FFFFFF solid 2px;

}

